input {
    border: 1px solid transparent;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 15px 10px;
    width: calc(100% - 20px) !important;
    margin-top: 5px;
    font-size: 16px;
}

input:focus, textarea:focus, input:active, textarea:active {
    outline: none !important;
}

textarea {
    border: 1px solid transparent;
    background-color: #e0e0e0;
    border-radius: 10px;
    padding: 15px 10px;
    width: calc(100% - 20px) !important;
    margin-top: 5px;
    font-size: 16px;
    height: 150px;
    resize: none;
}

select {
    border: 1px solid transparent;
    background-color: transparent;
    border-radius: 10px;
    padding: 15px 0px;
    width: 100% !important;
    margin-top: 5px;
    font-size: 16px;
}

select:focus {
    outline: 0px solid transparent !important;
}