.security-card {
 /* width: 40rem; */
 background: #161719;
 border-radius: .5rem;
 padding: 2.5rem 1.5rem;
 display: flex;
 flex-direction: column;
 gap: 1.2rem;
}

.security-card-alt {
 background: #28D180;
 color: #FAFEFC;
}

.security-header {
 font-size: 1.9rem;
 color: #FFFFFF;
}

.security-text {
 font-size: 1.2rem;
 font-weight: 400;
 color: #FFFFFF;
 line-height: 1.8rem;
}

@media (max-width: 400px) {
 .security-header {
  font-size: 1.2rem;
 }

 .security-text {
  font-size: 1rem;
  line-height: 1.2;
 }
}